services:
  - type: web
    name: telegram-ptranslator-bot
    env: python
    plan: free
    region: oregon
    buildCommand: pip install -r requirements.txt
    startCommand: python app.py
    envVars:
      - key: PYTHON_VERSION
        value: 3.11.9
      - key: PORT
        value: 10000
      - key: WEBHOOK_URL
        value: https://<YOUR-RENDER-APP-NAME>.onrender.com
