services:
  - type: web
    name: telegram-ptranslator-bot
    env: docker
    plan: free
    autoDeploy: true
    envVars:
      - key: TELEGRAM_TOKEN
        sync: false
      - key: GROQ_API_KEY
        sync: false
      - key: PORT
        value: 8080
